<section class="about">
    <div class="about-container">
        <img src="" alt="Heriberto Morales López">
    </div>
    <div class="about-info">
        <h2>Conoce a <strong>Heriberto Morales López</strong></h2>
        <h3>Fisioterapeuta especializado en rehabilitación</h3>

        <p>
            Con más de 8 años de experiencia como previo terapeuta de equipos de futbol, Me especializo en la recuperación de lesiones
            ayudando a mis pacientes a mejorar su movilidad y recudir el dolor 
        </p>
        <ul class="certifications">
            <li></li>
        </ul>
    </div>
</section>
