<div class="back">
  <section id="hero" class="hero">
  <div class="hero-content">
    <h1><strong>Salud</strong> que se siente a paz</h1>
    <p>Creemos que apoyar tu óptima recuperación es lo más importante para tener una buena salud.</p>
    <div class="cta">
      <button routerLink="/login" class="btn-primary">Consultar citas</button>
      <span class="phone">961 123 4567</span>
    </div>
  </div>
  <div class="hero-image">
    <img src = "../../../assets/FT2.jpg">
  </div>
</section>
<section class="hero-extra" id="hero-extra">
  <div class="decorator-square"></div>
  <div class="hero-extra-content">
    <p>Este espacio está dedicado a ofrecer la máxima relajación posible, ven y tomate un descanso de la vida cotidiana</p>
    <button class="btn-primary">Agenda tu cita</button>
  </div>
</section>

</div>